body{
    background-color: rgb(0, 0, 0) !important;
    position: relative !important;
}

main{
    margin-bottom: 200px;
}


* {
   box-sizing: border-box;
 }
/********************** NAVIGATION **********************************/
 

 
nav {
  background: #000000;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px 15px;
  box-shadow: 0px 20px 40px rgba(18, 34, 64, 0.1);
  width: 100%;

  border-top: 4px solid red;

}

nav >a{
 text-decoration: none;
 font-size: 1.5em;
 color: white;
}

nav >a:hover{
 color: red;
}



/*******************************************************************
*********************************************************************
*******************************************************************/

.tmdb_logo{
    width: 7rem;
}

#text_copy > p {

font-size: 10px;
}


footer{

   border-top: 2px solid red;
   padding: 35px 0px;
}

.card_actor{

   width: 40% !important;
}