body{
    background-color: rgb(0, 0, 0) !important;
    position: relative !important;
}

main{
    margin-bottom: 200px;
}

#nav{
    background-color: black !important;
    border-bottom: 4px solid red;
    border-top: 4px solid red;
    position: fixed !important;
    z-index: 1 !important;
    bottom: 0px !important;
    left: 0;
    right: 0;
}


.nav-item{

    font-size: 40px !important;
    margin: 0px 20px;
    will-change: transform;
    position: relative;
    list-style-type: none !important;
}

.nav-item:hover{

    transform: scale(1.2);
}

.nav-item::after {
    content: '';
    position: absolute;
    transform: translate(0px,-50px);
    width: 100%; /* Ajoutez ceci si vous souhaitez conserver la largeur */
    height: 80%; /* Ajoutez ceci si vous souhaitez conserver la hauteur */
}

.nav-item:hover::after {
    background-color: red;
    opacity: 0.5;
    z-index: -1;
}


.tmdb_logo{
    width: 7rem;
}

#text_copy > p {

font-size: 10px;
}

#section_chaine{

    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.card-body:hover{

    transform: scale(1.2);
}

#img_logo{

    max-width:18em; 
    width: 8em;
}
@media screen and (max-width: 650px) {
    
    #img_logo{

        margin: 0 50px;
        width: 40em;
        width: 100%;
    }

    #section_chaine{

        display: flex;
        justify-content: center;
        flex-flow: wrap;
        width: 100%;
        margin: 40px 0px;
    }
    h1{
        text-align: center;
    }
}