body{
    background-color: rgb(0, 0, 0) !important;
    position: relative !important;
}

main{
    margin-bottom: 200px;
}

h1, h2{
   font-size: 3em !important;
}
.card{
    width: 18em;
    margin: 10px;
    max-height:40rem;
    padding-bottom: -10px;
}

.card_populaire{
   
   max-width: 13em;
   max-height: 32em;

}

.card_populaire:hover{

   transform: scale(1.1);
   transition: all 1400ms;
   border: 2px solid red;
   box-shadow: 10px 10px 10px rgba(241, 38, 38, 0.5); /* Ajustez les valeurs pour l'ombre souhaitée */

}

.card_populaire:not(:hover){
   transition: all 1400ms;

}

/*#nav{
    background-color: black !important;
    border-bottom: 4px solid red;
    border-top: 4px solid red;
    position: fixed !important;
    z-index: 1 !important;
    bottom: 0px !important;
    left: 0;
    right: 0;
}


.nav-item{

    font-size: 40px !important;
    margin: 0px 20px;
    will-change: transform;
    position: relative;
    list-style-type: none !important;
}

.nav-item:hover{

    transform: scale(1.2);
}

.nav-item::after {
    content: '';
    position: absolute;
    transform: translate(0px,-50px);
    width: 100%; /* Ajoutez ceci si vous souhaitez conserver la largeur */
    /*height: 80%; /* Ajoutez ceci si vous souhaitez conserver la hauteur 
}

.nav-item:hover::after {
    background-color: red;
    opacity: 0.5;
    z-index: -1;
}
*/

/******************* NAVIGATION **********************************/
 


 
nav {
   background: #000000;
   display: flex;
   justify-content: space-evenly;
   padding: 10px 20px 15px;
   box-shadow: 0px 20px 40px rgba(18, 34, 64, 0.1);
   width: 100%;
   position: sticky;
   bottom: 0;
   border-top: 4px solid red;

 }
 
 nav:after {
   content: "";
   width: 120px;
   background: #d9e0ea;
   position: absolute;
   bottom: 8px;
   left: 50%;
   height: 3px;
   transform: translateX(-50%);
   opacity: 0.7;
 }
 
 .navbar__item {
   width: 70px;
   height: 70px;
   position: relative;
   cursor: pointer;
   padding: 10px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 21px;
   position: relative;
 }

 .logo_nav:hover{
   transform: translateY(-60px);
   transition: all 0.45s cubic-bezier(0.71, 0.03, 0.23, 0.95);
   z-index: 1;
   padding: 30px;

   }
 
 .navbar__item::before,
 .navbar__item::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: currentColor;
   border-radius: 50%;
   transform: scale(0.8);
   opacity: 0;
   transition: all 0.55s cubic-bezier(0.71, 0.03, 0.23, 0.95);
 }
 
 .navbar__item::after {
   box-shadow: 0 7px 15px currentColor;
 }
 
 .navbar__item.-blue {
   color: #06b8ff;
 }
 
 .navbar__item.-orange {
   color: #f2704d;
 }
 
 .navbar__item.-navy-blue {
   color: #405fff;
 }
 
 .navbar__item.-yellow {
   color: #f8cd4b;
 }
 
 .navbar__item.-purple {
   color: #8444d6;
 }
 
 .navbar__item:hover::before,
 .navbar__item:hover::after {
   transform: translateY(-60px) scale(1.1);
   opacity: 1;
 }
 
 .navbar__item:hover::after {
   opacity: 0.4;
 }
 
 .navbar__item:hover .navbar__icon {
   transform: translateY(-58px) scale(1.25);
   color: #fff;
   transition-delay: 0.1s, 0.1s;
 }
 
 .navbar__icon {
   transition: all 0.5s cubic-bezier(0.71, 0.03, 0.23, 0.95);
   transition-delay: 0.1s;
   display: inline-block;
   position: relative;
   z-index: -1;
 }
 


/*******************************************************************
*********************************************************************
*******************************************************************/

.tmdb_logo{
    width: 7rem;
}

#text_copy > p {

font-size: 10px;
}
article{

    height: 40em !important;
    background-color: rgb(70, 70, 70)
    
}


/* Styles pour le conteneur de défilement */
.scroll-container {
    /* width: 300px;  Ajustez la largeur selon vos besoins */
    height: 100%; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
     overflow-x: scroll;
    position: relative;
}

/* Styles pour le contenu à faire défiler */
.content {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    position: relative;
}

.description_film{
    
    background-color: rgb(255, 40, 40);
    max-width: 30%;
    padding: 0 10px;
    max-height: 5rem;
    display: flex;
    flex-flow: wrap column;
    z-index: 1;
    color: white;
    transform: translate(1px,40px);
   
    

}

#desc_card_tv{

   background-color: rgba(255, 91, 91, 0.949);
   opacity: 0;
}

#desc_card_tv:hover{

   opacity: 0.8;
   

}

.card_tv{

   max-width: 13em;
}


/***********************************************************
**********************************************************/

div#carousel { 
   perspective: 1200px; 
   background: #100000; 
   padding-top: 10%; 
   font-size:0; 
   margin-bottom: 3rem; 
   overflow: hidden; 
 }
 figure#spinner { 
   transform-style: preserve-3d; 
   height: 300px; 
   transform-origin: 50% 50% -500px; 
   transition: 1s; 
 } 
 figure#spinner img { 
   width: 40%; max-width: 425px; 
   position: absolute; left: 30%;
   transform-origin: 50% 50% -500px;
   outline:1px solid transparent; 
 }
 figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
 }
 figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
 figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
 figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
 figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
 figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
 figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
 figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
 div#carousel ~ span { 
   color: #fff; 
   margin: 5%; 
   display: inline-block; 
   text-decoration: none; 
   font-size: 2rem; 
   transition: 0.6s color; 
   position: relative; 
   margin-top: -6rem; 
   border-bottom: none; 
   line-height: 0; }
 div#carousel ~ span:hover { color: #888; cursor: pointer; }


footer{

   border-top: 2px solid red;
   padding: 20px 0px;
}

.img_note{

   max-width: 16.7em;
  
}



